<button (click)="GoTopPage()">Go Top Page</button>
<br />
<select id="parameter" (change)="Show($event)">
  <option *ngFor="let param of displayParams" [value]="param">
    {{ param }}
  </option>
</select>
<div class="spacer">
  {{ innerHtml }}
  <h2 style="background-color: #dddddd">
    "display :{{ displayParam }}" sample
  </h2>
  <div outarea [hidden]="displayParam !== displayParams[0]">
    <div style="color: cadetblue">at HTML</div>
    <div
      id="controller"
      style="
        display: block;
        border: solid 2px aquamarine;
        background-color: aquamarine;
      "
    >
      <div>
        &lt;div
        <span *ngIf="isFlexList[0]">style="display : {{ displayParam }}" </span>
        <button (click)="UpdateFlex(0)">
          <span *ngIf="isFlexList[0]">Off </span
          ><span *ngIf="!isFlexList[0]">On </span> {{ displayParam }}</button
        >&gt;<br />
        <span class="one_sp"
          >&lt;div
          <span *ngIf="isFlexList[1]"
            >style="display : {{ displayParam }}"
          </span>
          <button (click)="UpdateFlex(1)">
            <span *ngIf="isFlexList[1]">Off </span
            ><span *ngIf="!isFlexList[1]">On </span> {{ displayParam }}</button
          >&gt;div1&lt;/div&gt;</span
        ><br />
        <span class="one_sp">&lt;div&gt;div2&lt;/div&gt;</span><br />
        <span class="one_sp"
          >&lt;div
          <span *ngIf="isFlexList[2]"
            >style="display : {{ displayParam }}"
          </span>
          <button (click)="UpdateFlex(2)">
            <span *ngIf="isFlexList[2]">Off </span
            ><span *ngIf="!isFlexList[2]">On </span> {{ displayParam }}</button
          >&gt;</span
        ><br />
        <span class="two_sp"
          >&lt;div
          <span *ngIf="isFlexList[3]"
            >style="display : {{ displayParam }}"
          </span>
          <button (click)="UpdateFlex(3)">
            <span *ngIf="isFlexList[3]">Off </span
            ><span *ngIf="!isFlexList[3]">On </span> {{ displayParam }}</button
          >&gt;div3&lt;&lt;/div&gt; </span
        ><br />
        <span class="two_sp">&lt;div&gt;div4&lt;&lt;/div&gt;</span><br />
        <span class="one_sp">&lt;/div&gt;</span><br />
        &lt;/div&gt;<br />
        <span>&lt;span&gt;span5&lt;/span&gt;</span><br />
      </div>
    </div>
    <br />
    <div style="color: gray">at Browser (How it is displayed)</div>
    <div
      id="viewer"
      style="
        display: block;
        border: solid 2px lightgray;
        background-color: lightgray;
      "
    >
      <div id="flex0">
        <div id="flex1">div1</div>
        <div>div2</div>
        <div id="flex2">
          <div id="flex3">div3</div>
          <div>div4</div>
        </div>
      </div>
      <span>span5</span>
    </div>
  </div>

  <div outarea [hidden]="displayParam !== displayParams[1]">
    <div style="color: cadetblue">at HTML</div>
    <div
      id="controller"
      style="
        display: block;
        border: solid 2px aquamarine;
        background-color: aquamarine;
      "
    >
      <div>
        &lt;div
        <span *ngIf="isInlineFlexList[0]"
          >style="display : {{ displayParam }}"
        </span>
        <button (click)="UpdateInlineFlex(0)">
          <span *ngIf="isInlineFlexList[0]">Off </span
          ><span *ngIf="!isInlineFlexList[0]">On </span>
          {{ displayParam }}</button
        >&gt;<br />
        <span class="one_sp"
          >&lt;div
          <span *ngIf="isInlineFlexList[1]"
            >style="display : {{ displayParam }}"
          </span>
          <button (click)="UpdateInlineFlex(1)">
            <span *ngIf="isInlineFlexList[1]">Off </span
            ><span *ngIf="!isInlineFlexList[1]">On </span>
            {{ displayParam }}</button
          >&gt;div1&lt;/div&gt;</span
        ><br />
        <span class="one_sp">&lt;div&gt;div2&lt;/div&gt;</span><br />
        <span class="one_sp"
          >&lt;div
          <span *ngIf="isInlineFlexList[2]"
            >style="display : {{ displayParam }}"
          </span>
          <button (click)="UpdateInlineFlex(2)">
            <span *ngIf="isInlineFlexList[2]">Off </span
            ><span *ngIf="!isInlineFlexList[2]">On </span>
            {{ displayParam }}</button
          >&gt;</span
        ><br />
        <span class="two_sp"
          >&lt;div
          <span *ngIf="isInlineFlexList[3]"
            >style="display : {{ displayParam }}"
          </span>
          <button (click)="UpdateInlineFlex(3)">
            <span *ngIf="isInlineFlexList[3]">Off </span
            ><span *ngIf="!isInlineFlexList[3]">On </span>
            {{ displayParam }}</button
          >&gt;div3&lt;&lt;/div&gt; </span
        ><br />
        <span class="two_sp">&lt;div&gt;div4&lt;&lt;/div&gt;</span><br />
        <span class="one_sp">&lt;/div&gt;</span><br />
        &lt;/div&gt;<br />
      </div>
      <span>&lt;span&gt;span5&lt;/span&gt;</span><br />
    </div>
    <br />

    <div style="color: gray">at Browser (How it is displayed)</div>
    <div
      id="viewer"
      style="
        display: block;
        border: solid 2px lightgray;
        background-color: lightgray;
      "
    >
      <div id="inline_flex0">
        <div id="inline_flex1">div1</div>
        <div>div2</div>
        <div id="inline_flex2">
          <div id="inline_flex3">div3</div>
          <div>div4</div>
        </div>
      </div>
      <span>span5</span>
    </div>
  </div>

  <div outarea [hidden]="displayParam !== displayParams[2]">
    <div style="color: cadetblue">at HTML</div>
    <div
      id="controller"
      style="
        display: block;
        border: solid 2px aquamarine;
        background-color: aquamarine;
      "
    >
      <div>
        &lt;span
        <span *ngIf="isBlockList[0]"
          >style="display : {{ displayParam }}"
        </span>
        <button (click)="UpdateBlock(0)">
          <span *ngIf="isBlockList[0]">Off </span
          ><span *ngIf="!isBlockList[0]">On </span> {{ displayParam }}</button
        >&gt;span1 &lt;/span&gt;<br />
        &lt;span
        <span *ngIf="isBlockList[1]"
          >style="display : {{ displayParam }}"
        </span>
        <button (click)="UpdateBlock(1)">
          <span *ngIf="isBlockList[1]">Off </span
          ><span *ngIf="!isBlockList[1]">On </span> {{ displayParam }}</button
        >&gt;span2 &lt;/span&gt;<br />
        &lt;span&gt;span3 &lt;/span&gt;<br />
      </div>
    </div>
    <br />

    <div style="color: gray">at Browser (How it is displayed)</div>
    <div
      id="viewer"
      style="
        display: block;
        border: solid 2px lightgray;
        background-color: lightgray;
      "
    >
      <span id="block0">span1</span>
      <span id="block1">span2</span>
      <span>span3</span>
    </div>
  </div>

  <div outarea [hidden]="displayParam !== displayParams[3]">
    <div style="color: cadetblue">at HTML</div>
    <div
      id="controller"
      style="
        display: block;
        border: solid 2px aquamarine;
        background-color: aquamarine;
      "
    >
      <div>
        &lt;span&gt;span1 &lt;/span&gt;<br />
        &lt;div
        <span *ngIf="isInlineBlockList[0]"
          >style="display : {{ displayParam }}"
        </span>
        <button (click)="UpdateInlineBlock(0)">
          <span *ngIf="isInlineBlockList[0]">Off </span
          ><span *ngIf="!isInlineBlockList[0]">On </span>
          {{ displayParam }}</button
        >&gt;<br />
        <span class="one_sp"></span>&lt;div
        <span *ngIf="isInlineBlockList[1]"
          >style="display : {{ displayParam }}"
        </span>
        <button (click)="UpdateInlineBlock(1)">
          <span *ngIf="isInlineBlockList[1]">Off </span
          ><span *ngIf="!isInlineBlockList[1]">On </span>
          {{ displayParam }}</button
        >&gt;div2 &lt;/div&gt;<br />
        <span class="one_sp"></span>&lt;div&gt;div3 &lt;/div&gt;<br />

        &lt;/div&gt;<br />
        &lt;span&gt;span4 &lt;/span&gt;<br />
      </div>
    </div>
    <br />

    <div style="color: gray">at Browser (How it is displayed)</div>
    <div
      id="viewer"
      style="
        display: block;
        border: solid 2px lightgray;
        background-color: lightgray;
      "
    >
      <span>span1</span>
      <div id="inline_block0">
        <div id="inline_block1">div2</div>
        <div>div3</div>
      </div>
      <span>span4</span>
    </div>
  </div>

  <div outarea [hidden]="displayParam !== displayParams[4]">
    <div style="color: cadetblue">at HTML</div>
    <div
      id="controller"
      style="
        display: block;
        border: solid 2px aquamarine;
        background-color: aquamarine;
      "
    >
      &lt;span&gt;span1 &lt;/span&gt;<br />
      &lt;span
      <span *ngIf="isGridList[0]">style="display : {{ displayParam }}" </span>
      <button (click)="UpdateGrid(0)">
        <span *ngIf="isGridList[0]">Off </span
        ><span *ngIf="!isGridList[0]">On </span> {{ displayParam }}</button
      >&gt;<br />
      <span class="one_sp">&lt;span&gt;span2&lt;/span&gt;</span><br />
      <span class="one_sp">&lt;span&gt;span3&lt;/span&gt;</span><br />
      <span class="one_sp">&lt;span&gt;span4&lt;/span&gt;</span><br />
      &lt;/span&gt;<br />
      &lt;span&gt;span5&lt;/span&gt;<br />
    </div>
    <br />

    <div style="color: gray">at Browser (How it is displayed)</div>
    <div
      id="viewer"
      style="display: block; border: solid 2px; background-color: lightgray"
    >
      <span>span1</span>
      <span id="grid0">
        <span>span2</span>
        <span>span3</span>
        <span>span4</span>
      </span>
      <span>span5</span>
    </div>
  </div>
  <button (click)="ControlBorder()">Set outline / Remove outline</button>
  <br />
</div>
